$BG-PRIMARY-COLOR: #F7F7F7;
$BG-SECUNDARY-COLOR: rgba(187, 234, 255, 0.3);
$BG-FOOTER-COLOR: #BBEAFF;
$BG-INPUT-COLOR: #E5E5E5;
$BG-INPUT-HOVER-FOCUS: #BBE9FF31;
$BG-CAMPAIGN-CARD-COLOR: #E5E5E5;
$BG-OPTION-FOCUSED: rgba(187,234,255, 0.4);
$BG-UNREAD-MESSAGES: #D75C5F;
$BG-CHAT-COLOR: #E5E5E5;
$BG-CHAT-DATE-COLOR: rgba(229, 229, 229, 0.5);
$BG-CHAT-MESSAGE-BOX: rgba(229, 229, 229, 0.5);
$BG-CHAT-SENDER-MESSAGE: #59BAE6;
$BG-CHAT-RECIEVER-MESSAGE: #E5E5E5;
$BG-CHAT-SELECTED: rgba(187,234,255, 0.4);
$BG-FAQ-COLOR: #FFF;
$BG-TERMS-COLOR: #FFF;
$BTN-CHAT-SEND-MESSAGE: #62BEBA;
$BTN-COLOR-SOLID: #62BEBA;
$BTN-FONT-COLOR-LIGHT: #62BEBA;
$BTN-FONT-COLOR-SOLID: #FFF;
$FONT-COLOR: #313131;
$BORDER-COLOR: #313131;
$BORDER-FILTER-ALL-COLOR: #59BAE6;
$BORDER-SECTION-DIVISOR-COLOR: #C5C5C5;
$BORDER-INPUT-HOVER-FOCUS: #62BEBA;
$ICON-COLOR: #313131;
$ICON-HEART-COLOR: #D75C5F;
$SCROLL-BAR-COLOR: #59BAE6;
