.main-content-space{
    margin: 4em 0 0em 20em;
    width: 77%;
    height: 77vh;

    .main-content{
        background-color: white;
        border-radius: 30px;
        padding: 2rem 2rem 5rem 4rem;
    }
}