.main-content-space{
    background-color: white;
    margin: 3.3em 0 0 20em;
    width: 77%;
    height: 75vh;
    border-radius: 30px;

    .main-content{
        padding: 2rem 2rem 2rem 4rem;
    }
}