.support-panel{
    padding: 2em;

    .main-text{
    font-size: 1.3em;
    line-height: 3rem;
    }

    .chatbot-button{
        cursor: pointer;
        background-color: #6F6EA8;
        color: white;
        font-weight: 600;
        font-size: 1em;
        border: none;
        padding: 1.3em;
    }

    .chatbot-button:hover{
        background-color: #33325C;
    }
}