body{
    background-color: #E5E5E5;
    overflow-x: hidden;
}

.main-content-space{
    background-color: white;
    margin: 3.3em 0 0 20em;
    width: 75%;
    height: 75vh;
    border-radius: 30px;

    .main-content{
        padding: 2rem 2rem 2rem 4rem;
    }

    .search-user{
        width: 30%;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    .button-none {
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 35px;

    }

    .name{
        font-family: 'Courier New', Courier, monospace;
    }

    .main-ifor {
        background-color: white;
        border-radius: 30px;
        margin-left: 100px;
        max-width: 75%;
        height: max-content;
        padding: 30px;
    }

}