$breakpoint-tablet: 768px;
$breakpoint-cellphone: 375px;

.header-nav {
  margin: 31px 99px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;

  .logo{
    width: 220px;
  }

  .info__usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }

  .info__usuario-descricao{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }

  

  span{
    font-size: 20px;
  }

  .usuario{
    width: 80px;
  }

}

@media (max-width: $breakpoint-tablet) {
  .header-nav img {
    display: none;
  }
}
