.title-space{
    margin: 2em 0 2em 20em;
    width: 77%;
    height: 50vh;

    .title-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        h1{
            font-weight: bold;
            font-size: 2.5em;
        }

        img{
            margin: 2em;
            width: 10%
        }

        p{
            font-size: 1.2em;
        }
    }
}